<?xml version="1.0"?>
<launch>

<include file="$(find robot_setup_tf)/launch/tf_launch.launch"/>

<node pkg="robot_setup_tf" type="ros_sonar.py" name="sonar_data"/>

<node pkg="robot_setup_tf" type="bno055_node.py" name="imu_pub" />

<!-- if i want to use rplidar A1. -->

<include file = "$(find rplidar_ros)/launch/rplidar.launch"/>
 

 <!-- if i want to use hokuyo  -->

<!-- <include file = "$(find urg_node)/launch/urg_lidar.launch"/> -->


<arg name="geotiff_map_file_path" default="$(find hector_geotiff)/maps"/>

<param name="/use_sim_time" value="false"/>

<include file="$(find hector_mapping)/launch/mapping_default.launch"/>

<include file="$(find hector_geotiff_launch)/launch/geotiff_mapper.launch">
	<arg name="trajectory_source_frame_name" value="scanmatcher_frame"/>
	<arg name="map_file_path" value="$(arg geotiff_map_file_path)"/>
</include>





<!-- robot - localization ekf filters -->
<!-- <node pkg="hector_pose_estimation" type="pose_estimation" name="hector_pose_estimation" /> -->
<!-- <param name="raw_imu" value="imu"/>
<param name="poseupdate" value="poseupdate"/> -->


<!-- <node pkg="robot_localization" type="ekf_localization_node" name="ekf_node" clear_params="true">	
	<param name="imu" value="imu"/>
	<param name="pose0" value="poseupdate"/>
	<remap from="odometry/filtered" to="pose/filtered"/>
	<rosparam command="load" file="$(find robot_setup_tf)/launch/ekf_template.yaml" />
</node>
 -->


<!-- Move Base node -->

 
<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen"> 
	<rosparam file="$(find robot_setup_tf)/config/costmap_common_params.yaml" command="load" ns="global_costmap" /> 
	<rosparam file="$(find robot_setup_tf)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
	<rosparam file="$(find robot_setup_tf)/config/local_costmap_params.yaml" command="load" />
	<rosparam file="$(find robot_setup_tf)/config/global_costmap_params.yaml" command="load" /> 
	<rosparam file="$(find robot_setup_tf)/config/move_base_params.yaml" command="load" />
	<rosparam file="$(find robot_setup_tf)/config/global_planner_params.yaml" command="load" />
	<rosparam file="$(find robot_setup_tf)/config/dwa_local_planner_params.yaml" command="load" /> 
	
</node>

<!-- 

<node pkg="hector_imu_tools" type="pose_and_orientation_to_imu_node" name="pose_and_orientation_to_imu_node" output="screen">
	<remap from="/imu" to="/imu_quat" />
	<remap from="/fused_imu" to="/imu_in" />
	<remap from="/pose" to="/slam_out_pose" />
</node> -->


<!-- exploration node -->
<!-- 
<node pkg="explore_lite" type="explore" respawn="false" name="explore" output="screen">
  <param name="robot_base_frame" value="base_link"/>
  <param name="costmap_topic" value="map"/>
  <param name="costmap_updates_topic" value="map_updates"/>
  <param name="visualize" value="true"/>
  <param name="planner_frequency" value="0.33"/>
  <param name="progress_timeout" value="30.0"/>
  <param name="potential_scale" value="3.0"/>
  <param name="orientation_scale" value="0.0"/>
  <param name="gain_scale" value="1.0"/>
  <param name="transform_tolerance" value="0.3"/>
  <param name="min_frontier_size" value="0.75"/>
</node>
 -->

<node pkg="robot_setup_tf" type ="main_code.py" name="core_HEX" output= "screen"/> 


</launch>