<?xml version="1.0"?>
<launch>




<node pkg="robot_setup_tf" type="imu.py" name="imu_pub"/>


<node pkg="imu_filter_madgwick" type="imu_filter_node" name="imu_filter_madgwick" >

<!-- 	<param name="zeta" type="double" value="0.4626" />
	<param name="mag_bias_x" type="double" value="-12.3" />
	<param name="mag_bias_y" type="double" value="-30.2" />
	<param name="mag_bias_z" type="double" value="-52.6" />
 -->

</node>



<!-- <include file = "$(find hector_slam_launch)/launch/tutorial.launch"/>
<include file = "$(find rplidar_ros)/launch/rplidar.launch"/>

 -->
</launch>