<?xml version="1.0"?>
<launch>




<node pkg="robot_setup_tf" type="bno055_node.py" name="imu_pub"/>

<node pkg="robot_setup_tf" type ="imu_listener.py" name="imu_listener" /> 






<!-- <include file = "$(find hector_slam_launch)/launch/tutorial.launch"/>
<include file = "$(find rplidar_ros)/launch/rplidar.launch"/>

 -->
</launch>